:root {
  --main-purple: rgb(120, 52, 255);
  --light-purple: rgb(218, 202, 255);
  --black: black;
  --white: white;
  --dark: rgb(49, 47, 52);
  --fixed-header-bg: rgba(0, 0, 0, 0);

  --about-me-intro-bg: var(--main-purple);
  --about-me-topic-header-color: var(--white);
  --about-me-topic-content-color: var(--white);
  --about-me-transition-bg: var(--black);
  --about-me-transition-bg-gradient: var(--main-purple);

  --fixed-header-elt-color: var(--white);
  --fixed-header-elt-color-hover: var(--light-purple);
  --fixed-header-elt-tshadow-hover: var(--main-purple);
  --fixed-header-elt-undl-bg: var(--white);
  --fixed-header-elt-undl-after-bg: var(--light-purple);
  --fixed-header-elt-undl-after-shadow: var(--light-purple);

  --home-intro-bg: var(--black);
  --home-intro-label-catchphrase-color: var(--light-purple);
  --home-intro-label-catchphrase-color-off: var(--dark);
  --home-intro-label-catchphrase-tshadow: var(--main-purple);
  --home-intro-label-title-color: var(--white);
}